RewriteEngine On

RewriteCond ${REQUEST_FILENAME} !-d
RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-l

RewriteRule ^$ index.php?url=home [NC,L]
RewriteRule ^(home|contact|send)$ index.php?url=$1 [NC,L]
# RewriteRule ^(search)$ index.php?url=search [NC,L]
# RewriteRule ^(search)/([0-9a-zA-Z_\/\-\+]+)$ index.php?url=search&phrase=$2 [NC,L]
# RewriteRule ^(search)/(.*)$ index.php?url=search&phrase=$2 [NC,L]
# RewriteRule ^search\?phrase\=([0-9a-zA-Z_\-\+]+)$ index.php?url=search&phrase=$1 [NC,L]

# RewriteRule ^(search)\?phrase=([0-9a-zA-Z_\-\+]+)$ index.php?url=search&phrase=$2 [NC,L]
# RewriteRule ^(search)(\/\?phrase\=([0-9a-zA-Z _\+\=\-]+)?)$ index.php?url=$1&phrase=$2 [NC,L]
# RewriteRule ^(search)?phrase=([0-9a-zA-Z _\-\=\+\]?)$ index.php?url=$1&phrase=$2 [NC,L]
# RewriteRule ^(search)/([0-9a-zA-Z _\-\+\=\:\;]+)$ index.php?url=$1&phrase=$2 [NC,L]
RewriteRule ^admin(\/?)$ admin/admin.php?url=list [NC,L]
RewriteRule ^admin$ admin/admin.php?url=list [NC,L]
RewriteRule ^admin/([0-9a-zA-Z_\-]+)$ admin/admin.php?url=$1 [NC,L]
RewriteRule ^admin/([0-9a-zA-Z_\-]+)/([0-9a-zA-Z_\-]+)$ admin/admin.php?page=$1&url=$2 [NC,L]
RewriteRule ^([0-9a-zA-Z_\-]+)/(store|edit|update|delete)$ admin/admin.php?page=$1&url=$2 [NC,L]
RewriteRule ^(add|store|navbar)$ admin/admin.php?url=$1 [NC,L]
RewriteRule ^(navbar\/submenus|navbar\/items)/(update|delete)/([0-9a-zA-Z\+_\-]+)$ admin/admin.php?url=$1&action=$2&item=$3 [NC,L]
RewriteRule ^(navbar\/submenus|navbar\/items)/(store)$ admin/admin.php?url=$1&action=$2 [NC,L]

RewriteRule ^([0-9a-zA-Z_\-]+)$ index.php?url=show&page=$1 [NC,L]
RewriteRule ^((?=search.*$).*)/([a-z]+) index.php?url=search&phrase=$2 [NC,L]